@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
@using (Html.BeginForm("Verification", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3 mt-3">
                        <h2 class="mb-3" style="font-weight:300">Upload Files</h2>
                        <div class="form-group mb-3">
                            <div class="custom-file">
                                <input type="file" name="files" id="files" class="custom-file-input" multiple required/>
                                <label for="files" class="custom-file-label">Select File</label>
                            </div>
                        </div>
                        <input id="verification" type="button" class="btn btn-primary" value="Start Verification" />
                    </div>
                </div>
            </div>
        </div>
}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#verification").click(function () {
            let files = $("#files").get(0).files;
            let formData = new FormData();
            for (let i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                url: "/Files/Verification",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data.responseText);
                    // Handle any further actions after successful verification
                },
                error: function (data) {
                    alert(data.responseText);
                    // Handle any error scenarios
                }
            });
        });
    });
</script>
